<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.floriandenis.opencvosxcli</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a starting point for an OS X CLI tool using OpenCV.</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.macBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.tool</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
			</array>
            <key>Configurations</key> 
            <dict>
                <key>Debug</key>
                <dict>
                    <key>HEADER_SEARCH_PATHS</key>
                    <string>$(inherited) /usr/local/include</string>                    
                    <key>LIBRARY_SEARCH_PATHS</key>
                    <string>/usr/local/lib</string>
                    <key>OTHER_LDFLAGS</key>
                    <string>-lopencv_core -lopencv_highgui -lopencv_imgproc</string>
                    <key>CLANG_CXX_LIBRARY</key>
                    <string>libstdc++</string>
                </dict>
                <key>Release</key>
                <dict>
                    <key>HEADER_SEARCH_PATHS</key>
                    <string>$(inherited) /usr/local/include</string>
                    <key>LIBRARY_SEARCH_PATHS</key>
                    <string>/usr/local/lib</string>
                    <key>OTHER_LDFLAGS</key>
                    <string>-lopencv_core -lopencv_highgui -lopencv_imgproc</string>
                    <key>CLANG_CXX_LIBRARY</key>
                    <string>libstdc++</string>
                </dict>
            </dict>        
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>commandLineType</string>
			<key>Name</key>
			<string>Type</string>
			<key>Description</key>
			<string>The type of command-line tool to create</string>
			<key>Default</key>
			<string>C++</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>C++</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>main.cpp:comments</string>
						<string>main.cpp:include</string>
						<string>main.cpp:main:content</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>main.cpp:include</key>
						<string>#include &lt;opencv2/core/core.hpp&gt;
#include &lt;opencv2/highgui/highgui.hpp&gt;
#include &lt;opencv2/imgproc/imgproc.hpp&gt;
</string>
						<key>main.cpp:main:content</key>
						<string>// insert code here...
cv::Mat J, I = cv::imread("/System/Library/CoreServices/DefaultDesktop.jpg");
cv::resize(I,J,cv::Size(640,480));
cv::imshow("J",J);
cv::waitKey();
</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>*:main</key>
		<dict>
			<key>Beginning</key>
			<string>int main(int argc, const char * argv[])
{
</string>
			<key>End</key>
			<string>    return 0;
}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
	